.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./pictures/background-forum.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

  
 
.izmjena {
  left: 130;
}


.centered-table {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 15px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}


h1 {
  text-align: center;
  font-size: 28px;
  color: #333;
}


.centered-table td {
  padding: 25px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}


.centered-table select,
.centered-table input[type="text"],
.centered-table input[type="email"],
.centered-table button {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border: 1px solid #ddd;
  transition: all 0.3s ease; 
}


button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  transition: all 0.5s ease;
}


button:hover {
  background-color: #0056b3;
  border: none;
  border-radius: 0;
  transform: scale(1.05); 
}


button:active {
  transform: scale(0.95); 
}
